.container-fluid{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR-OBFL93z53jXiX0mmaBsNG8BJC4eglm2k3az6X-jBg&s);
    background-size: cover;
    width: 500px;
    height:50px;
}